.App {
  text-align: center;
  background-color: #282c34;
  height: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.grad-photo{
  border-radius: 50%;
  height: 30vmin;
}
.work-photo{
  pointer-events: none;
}

.cap-photo{
  border-radius: 50%;
  height: 30vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  background-color: #282c34;
  min-height: 100vh;
  height: inherit;
}
.grad{
  flex-basis: 40%
}

.about{
  display: flex;
  padding: 30px;
  padding-left: 200px;
  padding-right: 200px;
  align-items: center;
  justify-content: center;
}

.Contact-title{
  padding-top: 80px;
  align-items: center;
  justify-content: center;
}

.subtitle{
  color:lightcoral;
}

.hello{
  padding-left: 20px;
}

.Available{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.avail{
  border-color: lightcoral;
  border-style: groove;
  padding: 50px;
}
.formInput{
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid rgb(34, 62, 112);
  border-radius: 5px;
}
.form{
  margin-top: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 530px;
}
form{
  display: block;
  justify-content: center;
  height: inherit;
  width: 220px;
}
.updateButton{
  background: linear-gradient(145deg, rgb(254, 127, 156) 30%, #FDA4BA);
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.3);
  font-family: "Raleway";

}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0% { transform: scale(1); }
  50% {transform: scale(1.3); }
  50% { transform: scale(1.3); }
  100% { transform: scale(1); }
}
